<div class="container my-5">
  <div class="container-content">
    <h3 class="text-center fw-bold pt-5 pb-4 custom-h-shadow text-uppercase">
      {{ title }}
    </h3>

    <div class="content-form-control mt-5 pb-5 custom-h-shadow">
      <div class="my-3 control-form">
        <h3 class="text-center py-2 text-uppercase">{{ Form_Control }}</h3>
        <div class="mx-2 d-flex">
          <label for="name" class="form-label fw-bold my-2 mx-1"><span class="mx-1">Name</span></label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder=" name"
            name="name"
            [formControl]="name"
          />
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn enable-btn mx-auto"
          (click)="updateName()"
        >
          Update Name
        </button>
        <button
          type="submit"
          class="btn disable-btn mx-2"
          (click)="resetName()"
        >
          Clear
        </button>
      </div>
    </div>
    <div class="content-form-group mt-5">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <h3 class="text-center py-2 text-uppercase">{{ Form_Group }}</h3>

        <div class="mx-2 d-flex mb-3">
          <label for="fname" class="form-label fw-bold my-2 mx-1"><span class="mx-1">FirstName</span> </label>
          <input
            type="text"
            class="form-control"
            id="fname"
            placeholder=" first name"
            name="fname"
            formControlName="firstName"
          />
        </div>
        <div class="mx-2 d-flex mb-3">
          <label for="lname" class="form-label fw-bold my-2 mx-1"><span class="mx-1">LastName</span> </label>
          <input
            type="text"
            class="form-control"
            id="lname"
            placeholder=" last name"
            name="fname"
            formControlName="lastName"
          />
        </div>
        <div class="row mx-1 d-flex mb-3" formGroupName="address">
          <div class="col d-flex">
            <label for="city" class="form-label fw-bold my-2"><span class="mx-1">City</span> </label>
            <input
              id="city"
              type="text"
              class="form-control"
              placeholder=" city"
              name="city"
              formControlName="city"
            />
          </div>
          <div class="col d-flex">
            <label for="street" class="form-label fw-bold my-2"><span class="mx-1">Street</span> </label>
            <input
              id="street"
              type="text"
              class="form-control control"
              placeholder=" street"
              name="street"
              formControlName="street"
            />
          </div>
        </div>
        <div class="buttons">
          <button
          type="submit"
          class="btn enable-btn"
        >
        Submit
        </button>
        <button
          type="button"
          class="btn enable-btn"
          (click)="updateFormWithSetValue()"
        >
          All Values
        </button>
        <button
          type="button"
          class="btn enable-btn"
          (click)="updateFormWithPatchValue()"
        >
          Parts Values
        </button>
        <button
          type="button"
          class="btn disable-btn mx-2"
          (click)="reset()"
        >
          Rset
        </button>
        </div>
      </form>
    </div>
  </div>
</div>
