<div class="row content-container">
  <!-- The sidebar -->
  <div class="col-3">
    <div class="sidebar">
      <div
        class="navbar-brand div-brand"
        [routerLink]="['']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          src="assets/images/form-logo.png"
          alt="form-logo"
          width="80"
          height="80"
        />
        <h4 class="text-center fw-bold pt-3 text-white text-uppercase">
          Forms
        </h4>
      </div>
      <a
        [routerLink]="['']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-home"></i> Home</a
      >
      <a
        [routerLink]="['reactiveForms']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-wpforms" aria-hidden="true"></i> Reactive Form</a
      >
      <a
        [routerLink]="['reactiveFormFormBulider']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-wpforms" aria-hidden="true"></i> Reactive Form
        FormBulider</a
      >
      <a
        [routerLink]="['reactiveFormAdvancedWay']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-wpforms" aria-hidden="true"></i> Reactive Form
        Advanced Way</a
      >
      <a
        [routerLink]="['asyncValidator']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-wpforms" aria-hidden="true"></i> Async
        Validator</a
      >
      <a
        [routerLink]="['dynamicForm']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-wpforms" aria-hidden="true"></i> Dynamic Form</a
      >
      <a
        [routerLink]="['templateForm']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-fw fa-wpforms" aria-hidden="true"></i> Template Form</a
      >
    </div>
  </div>
  <div class="col-9">
    <!-- Page content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <app-template-forms></app-template-forms><br> -->
<!-- <hr class="custom-hr"><br> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-reactive-form-form-bulider></app-reactive-form-form-bulider> -->
<!-- <app-reactive-form-advanced-way></app-reactive-form-advanced-way> -->
<!-- <app-async-validator></app-async-validator> -->
<!-- <app-dynamic-form></app-dynamic-form> -->
<!-- <app-welcome-page></app-welcome-page> -->
