/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > app-root > div > div.col-3,
  body > app-root > div > div.col-9 {
  padding: 0;
}
.custom-hr {
  color: white;
  font-weight: bold;
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  padding: px;
  border: 10px solid brown;
}

.custom-h-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

